* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  min-height: 60vh;
  margin: 20px auto;
  padding: 10px;
}

.wrapper_style {
  padding: 40px;
}

.wrapper input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 1rem;
  box-sizing: border-box;
}
